.bunkbed-section {
  padding: 80px 0;
}

.bunkbed-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
}

.bunkbed-desc p {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
}

/* .heading-section .subheading {
  color: #6c63ff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
} */

/* .price-box h3 {
  font-size: 32px;
  color: #222;
  font-weight: 700;
} */

.price-box span {
  font-size: 16px;
  color: #777;
}

.btn {
  margin-top: 10px;
}
