/* .footer {
  background: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.footer p {
  margin: 0;
  color: #555;
  font-size: 15px;
}

.footer p span {
  color: #21cc7a;
  font-weight: 600;
} */
